
// MEDIA QUERY MANAGER

@mixin respond($breakpoint) {
  @if ($breakpoint == lrgMob) {
    @media (min-width: 28.12em) { // 450px
      @content
    }
  };
  @if ($breakpoint == tab) {
    @media (min-width: 43.75em) { // 700px
      @content
    }
  };
  @if ($breakpoint == lap) {
    @media (min-width: 59.37em) { // 950px
      @content
    }
  };
}


// GENERAL MIXINS

@mixin flex-cen-cen-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flex-cen-cen {
  display: flex;
  justify-content: center;
  align-items: center;
}