// COLOURS
$colourPrimary: #D87D4A;
$colorPrimaryLight :#fbaf85;
$almostBlack:#101010;
$lightGrey:#F1F1F1;
$almostwhite:#FAFAFA;
$white:#FFFFFF;
$black:#000000;

// TYPOGRAPHY
$fontFamily: 'Manrope', sans-serif;
$fontWeightBold: 700;
$fontWeightMedium:500;
$fontWeightRegular:400;

// MISC