.input-wrap{
  position: relative;
  &__label{
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 12px;
    font-weight: $fontWeightBold;
  }
  &__input{
    border-radius: 8px;
    padding: 18px 24px;
    height: 56px;
    width: 100%;
    outline: none;
    border: 1px solid $greyish;
    &:focus{
      border: 1px solid $colourPrimary;
    }
  }
}

.error-label-color{
  color: $errorColor;
}

.error-label-text{
  font-size: 12px;
  font-weight: $fontWeightMedium;
}

.error-input-pos{
  position: absolute;
  top: -20px;
  right: 0;
}

.error-input-border,
.error-input-border:focus{
  border: 1px solid $errorColor;
}

