.payment {
  width: 100%;
  &-fields {
    width: 100%;
    border: none;
    // RADIOS
    &__title {
      margin-bottom: 49px;
    }
    &-radio-wrap {
      width: 100%;
      @include flex-cen-cen-col;
      align-items: flex-start;
      gap: 16px;
      @include respond(tab) {
        justify-content: space-between;
        flex-direction: row;
      }
    }
    &__heading {
      font-size: 12px;
      font-weight: $fontWeightBold;
    }
    &-radio-options {
      width: 100%;
      @include flex-cen-cen-col;
      gap: 16px;
      @include respond(tab) {
        width: 48.8%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;
      }
    }
    &-radio {
      height: 56px;
      width: 100%;
      border-radius: 8px;
      border: 1px solid grey;
      padding: 21px;
      @include flex-cen-cen-col;
      flex-direction: row;
      justify-content: flex-start;
      gap: 21px;
      accent-color: $colourPrimary;
      &:hover{
        cursor: pointer;
      }
      &__label {
        font-size: 14px;
        font-weight: $fontWeightBold;
      }
      &__input {
      appearance: none;
      background-color: #fff;
      margin: 0;
      font-size: 20px;
      color: $colourPrimary;
      width: 1.25em;
      height: 1.25em;
      border: 0.15em solid $lightGrey;
      border-radius: 50%;
      display: grid;
      place-content: center;
      &::before{
        content: "";
        width: 0.60em;
        height: 0.60em;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em $colourPrimary;
        }
      &:checked::before{
          transform: scale(1)
        }
      }
    }
  }
  // NUMBERS INPUT
  &-numbers-wrap {
    @include flex-cen-cen-col;
    margin-top: 54px;
    padding-bottom: 24px;
    gap: 30px;
    @include respond(tab) {
      flex-direction: row;
    }
  }
  &-number {
    width: 100%;
  }
  &-delivery{
    @include flex-cen-cen-col;
    justify-content: space-around;
    gap: 32px;
    color: $greyish;
    @include respond (lrgMob){
      flex-direction: row;
    }
    &__text{
      width: 75%;
    }
  }
}
