.feats-add-ons {
  @include flex-cen-cen-col;
  align-items: flex-start;
  padding: 8.8rem 0;
  gap: 8.8rem;
  @include respond (lap){
    flex-direction: row;
  }
}

.features {
  width: 100%;
  @include flex-cen-cen-col;
  align-items: flex-start;
  gap: 2.4rem;
  &__title {
    font-size: 24px;
    line-height: 36px;
    font-weight: $fontWeightBold;
    letter-spacing: .86px;
    @include respond (tab){
      @include h3-style;
    }
  }
  &-desc {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    &__para {
    }
  }
}

.add-ons {
  width: 100%;
  @include flex-cen-cen-col;
  gap: 2.4rem;
  align-items: flex-start;
  @include respond (tab){
    justify-content: flex-start;
    flex-direction: row;
  }
  @include respond (lap){
    flex-direction: column;
    width: 50%;
  }
  &__title {
    font-size: 24px;
    line-height: 36px;
    font-weight: $fontWeightBold;
    letter-spacing: .86px;
    @include respond (tab){
      @include h3-style;
      width: 50%;
    }
    @include respond (lap){
      width: 100%;
    }
  }
  &-list {
    list-style-type: none;
    @include respond (tab){
      width: 35%;
    }
    @include respond (lap){
      width: 100%;
    }
    &__item {
      margin-bottom: 8px;
      span{
        color: $colourPrimary;
        margin-right: 24px;
      }
    }
  }
}
