.single-product{
  width: 100%;
  @include flex-cen-cen-col;
  gap: 20px;
  @include respond (tab){
    height: 480px;
    gap: 69px;
    flex-direction: row;
  }
  @include respond (lap){
    height: 560px;
    gap: 124px;
  }
  &-img-wrap{
    width: 100%;
      @include respond (tab){
    width: 50%;
    height: 100%;
  }
  }
  &__image{
    width: 100%;
    border-radius: 8px;
    @include respond (tab){
    height: 100%
  }
  }
  &-content{
    @include flex-cen-cen-col;
    align-items: flex-start;
    gap: 26px;
    @include respond (tab){
      width: 50%;
    }
  }
  &__title{
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 32px;
    @include respond (lap){
      @include h2-style;
    }
  }
  &__price{
    font-size: 18px;
    letter-spacing: 1.29px;
    font-weight: $fontWeightBold;
  }
  &__btn-quantity-wrap{
    @include flex-cen-cen-col;
    flex-direction: row;
    justify-content: space-between;
    width: 296px;
  }
  &__quantity{
    @include flex-cen-cen-col;
    flex-direction: row;
    width: 120px;
    height: 48px;
    background-color: $lightGrey;
    &--minus{

    }
    &--amount{
      
    }
    &--plus{

    }
  }
}
