.about {
  width: 100%;
  @include flex-cen-cen-col;
  gap: 4rem;
  text-align: center;
  padding-bottom: 10rem;
  &__image{
    width: 100%;
    border-radius: 8px;
  }
  &__title{
    text-transform: uppercase;
    span{
      color: $colourPrimary;
    }
  }
  &__desc{
    
  }
}
