.categories {
  padding: 4rem 0 8rem;
  width: 100%;
  @include flex-cen-cen-col;
  gap: 1.6rem;
  @include respond(tab){
    flex-direction: row;
    gap: 1rem;
  }
  &-box{
    width: 100%;
    height: 20.7rem;
    @include flex-cen-cen-col;
    position: relative;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    @include respond(tab){
    padding: 1rem 0;
    height: 15.7rem;
    }
    @include respond (lap){
      height: 17.7rem;
    }
    &-underlay{
      border-radius: 8px;
      position: absolute;
      width: 100%;
      height: 75%;
      z-index: -5;
      bottom: 0;
      left: 0;
      background-color: $lightGrey;
    }
    &__image{
      width: 14rem;
      grid-column: 4/6;
      grid-row: 1/3;
    @include respond(tab){
        width: 10rem;
        height: 8.6rem;
      }
    }
    &__name{
      font-size: 15px;
      grid-column: 4/6;
      grid-row: 2/3;
      justify-self: center;
      align-self: center;
      font-weight: $fontWeightBold;
      font-weight: bold;
      letter-spacing: .107rem;
      align-self: flex-end;
    }
    &-btn,
    &-btn:link,
    &-btn:visited{
      @include flex-cen-cen;
      gap: 1rem;
      grid-column: 4/6;
      grid-row: 3/4;
      text-decoration: none;
      color: $black;
      &:hover{
        color: $colourPrimary;
        cursor: pointer;
      }
      &__text{
        font-size: 13px;
        letter-spacing: .1rem;
        font-weight: $fontWeightBold;
      }
      &__icon{
        
      }
    }
  }
}

.categories-nav{
  position: absolute;
  top: 15vh;
  left: 0;
  background-color: white;
  z-index: 11;
  padding: 4rem 2.4rem 8rem;
}