.header {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  &__image {
    width: 100%;
    height: 100%;
    grid-column: 1/-1;
    grid-row: 1/-1;
    z-index: -5;
    object-fit: cover;
    object-position: 50% 100%;
  }
  &__tag {
    grid-column: 3/15;
    grid-row: 6/7;
    text-align: center;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
  }
  &__title {
    grid-column: 2/16;
    grid-row: 7/10;
    text-align: center;
    display: inline-flex;
    align-items: center;
    // mob (Maybe temp)
    font-size: 3.6rem;
    line-height: 4rem;
    letter-spacing: .129rem;
    text-transform: uppercase;
  }
  &__desc {
    grid-column: 3/15;
    grid-row: 10/13;
    text-align: center;
    display: inline-flex;
    align-items: center;
    color: $white;
  }
  &__btn {
    grid-column: 6/12;
    grid-row: 13/15;
    align-self: center;
    justify-self: center;
    width: 160px;
    height: 48px;
  }
}
