.header {
  width: 100%;
  height: 100%;
  display: grid;
  // grid-template-columns: repeat(16, 1fr);
  grid-template-columns: 1fr repeat(8, 11%) 1fr;
  grid-template-rows: repeat(16, 1fr);
  @include respond(lap) {
    row-gap: 1.5rem;
  }
  @include respond(lrgDesk) {
    grid-template-columns: 1fr repeat(8, minmax(min-content, 138.75px)) 1fr;
  }
  &__picture {
    grid-column: 1/-1;
    grid-row: 1/-1;
    z-index: -5;
  }
  &__image {
    width: 100%;
    height: 100%;
    // grid-column: 1/-1;
    // grid-row: 1/-1;
    // z-index: -5;
    object-fit: cover;
    object-position: 50% 100%;
  }
  &__tag {
    grid-column: 2/10;
    grid-row: 6/7;
    text-align: center;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    @include respond(lap) {
      grid-column: 2/7;
      grid-row: 6/7;
      justify-content: flex-start;
    }
  }
  &__title {
    grid-column: 2/10;
    grid-row: 7/10;
    text-align: center;
    justify-self: center;
    align-self: center;
    font-size: 3.6rem;
    line-height: 4rem;
    color: $white;
    letter-spacing: 0.129rem;
    text-transform: uppercase;
    @include respond(tab) {
      @include h1-style;
    }
    @include respond(lap) {
      grid-column: 2/9;
      grid-row: 7/10;
      justify-self: flex-start;
      text-align: left;
    }
    span {
      display: block;
    }
  }
  &__desc {
    max-width: 350px;
    grid-column: 2/10;
    grid-row: 10/13;
    text-align: center;
    // display: inline-flex;
    // align-items: center;
    justify-self: center;
    align-self: center;
    color: $white;
    @include respond(lap) {
      grid-column: 2/10;
      grid-row: 10/13;
      justify-self: flex-start;
      align-self: flex-start;
      text-align: left;
    }
  }
  &__btn {
    grid-column: 2/10;
    grid-row: 13/15;
    align-self: center;
    justify-self: center;
    width: 160px;
    height: 48px;
    @include respond(lap) {
      grid-column: 2/6;
      grid-row: 13/15;
      align-self: flex-start;
      justify-self: flex-start;
    }
  }
}
