.products {
  width: 100%;
  @include flex-cen-cen-col;
  gap: 2rem;
  padding-bottom: 7rem; // temp
  &-box {
    width: 100%;
  }
  // BOX #1
  &-box-1 {
    position: relative;
    background-color: $colourPrimary;
    border-radius: 8px;
    @include flex-cen-cen-col;
    gap: 4rem;
    padding: 3rem 2rem;
    text-align: center;
    color: $white;
    overflow: hidden;
    @include respond(lap) {
      height: 560px;
      justify-content: space-between;
      padding: 0 2rem;
      flex-direction: row;
    }
    &__pattern {
      width: 48rem;
      position: absolute;
      top: -80%;
      left: -120%;
      @include respond(tab) {
        width: 65rem;
        position: absolute;
        top: -133%;
        left: -183%;
      }
      @include respond(lap) {
        width: 61rem;
        position: absolute;
        top: -130px;
        left: -210px;
      }
    }
    &__picture {
      position: relative;
      @include respond(lap) {
        align-self: flex-end;
        width: 50%;
      }
    }
    &__image {
      width: 14rem;
      position: relative;
      z-index: 5;
      // height: 40%;
      @include respond(lap) {
        width: 23rem;
        position: relative;
        top: 15px;
      }
    }
    &__text-wrap {
      @include flex-cen-cen-col;
      gap: 2rem;
      z-index: 5;
      @include respond(lap) {
        align-items: flex-start;
        gap: 1.5rem;
        text-align: left;
        width: 40%;
      }
    }
    &__title {
      font-size: 3.6rem;
      line-height: 40px;
      letter-spacing: 1.29px;
      text-transform: uppercase;
      // margin-top: 1.5rem;
      display: inline-flex;
      flex-direction: column;
      // gap: 5px;
      @include respond(tab) {
        @include h1-style;
      }
      span {
        display: block;
      }
    }
    &__text {
      max-width: 349px;
    }
    &__btn {
    }
  }
  //
  // BOX #2
  &-box-2 {
    height: 320px;
    padding: 0rem 2rem;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    @include flex-cen-cen-col;
    align-items: flex-start;
    gap: 20px;
    @include respond(tab) {
      padding: 0 4rem;
    }
    @include respond(tab) {
      padding: 0 5rem;
    }
    &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -5;
      object-fit: cover;
    }
    &__title {
      text-transform: uppercase;
      @include h4-style;
    }
    &__btn {
    }
  }
  //
  // BOX #3
  &-box-3 {
    @include flex-cen-cen-col;
    gap: 2rem;
    @include respond(tab) {
      flex-direction: row;
      gap: 1rem;
    }
    &-side-1,
    &-side-2 {
      width: 100%;
      height: 20.1rem;
      @include respond(tab) {
        width: 50%;
      }
    }
    &-side-1 {
    }
    &-side-2 {
      padding: 1rem 3rem;
      background-color: $lightGrey;
      @include flex-cen-cen-col;
      align-items: flex-start;
      gap: 3.2rem;
      border-radius: 8px;
    }
    &__image {
      border-radius: 8px;
      width: 100%;
      height: 100%;
    }
    &__title {
      text-transform: uppercase;
      @include h4-style;
    }
    &__btn {
    }
  }
}
