.footer {
  width: 100%;
  padding-bottom: 4rem;
  color: $white;
  background-color: $black;
  display: grid;
  grid-template-columns: 1fr repeat(8, minmax(min-content, 11%)) 1fr;
  gap: 4rem;
  text-align: center;
  &__line{
    grid-column: 2/10;
    height: 4px;
    width: 101px;
    background-color: $colourPrimary;
    justify-self: center;
  }
  &__logo {
    grid-column: 2/10;
    justify-self: center;
  }
  &-links {
    grid-column: 2/10;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.6rem;
    color: $white;
  }
  &__link {
  }
  &__desc {
    grid-column: 2/10;
  }
  &__copyright {
    grid-column: 2/10;
    font-weight: $fontWeightBold;
  }
  &-socials {
    grid-column: 2/10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    &__icon {
    }
  }
}
