.footer {
  width: 100%;
  padding-bottom: 4rem;
  color: $white;
  background-color: $black;
  display: grid;
  grid-template-columns: 1fr repeat(8, minmax(min-content, 11%)) 1fr;
  row-gap: 40px;
  text-align: center;
  @include respond(tab) {
    padding-bottom: 2rem;
  }
  @include respond(lrgDesk) {
    grid-template-columns: 1fr repeat(8, minmax(min-content, 138.75px)) 1fr;
  }
  &__line {
    grid-column: 2/10;
    height: 4px;
    width: 101px;
    background-color: $colourPrimary;
    justify-self: center;
    @include respond(tab) {
      grid-column: 2/4;
      grid-row: 1/2;
      justify-self: left;
    }
  }
  &__logo {
    grid-column: 2/10;
    justify-self: center;
    @include respond(tab) {
      grid-column: 2/4;
      grid-row: 2/3;
      justify-self: left;
    }
  }
  &-links {
    grid-column: 2/10;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.6rem;
    color: $white;
    @include respond(tab) {
      grid-column: 2/9;
      grid-row: 3/4;
      flex-direction: row;
      justify-content: flex-start;
    }
    @include respond(lap) {
      grid-column: 6/10;
      grid-row: 2/3;
      justify-content: flex-end;
    }
    &__link,
    &__link:link,
    &__link:visited {
      color: $white;
      text-decoration: none;
    }
  }
  &__desc {
    grid-column: 2/10;
    @include respond(tab) {
      grid-column: 2/9;
      grid-row: 4/7;
      text-align: left;
      margin-bottom: 60px;
    }
    @include respond(lap) {
      grid-column: 2/9;
      grid-row: 3/6;
      max-width: 540px;
      margin-bottom: 0;
    }
  }
  &__copyright {
    grid-column: 2/10;
    font-weight: $fontWeightBold;
    @include respond(tab) {
      grid-column: 2/8;
      grid-row: 7/8;
      justify-self: flex-start;
    }
    @include respond(lap) {
      grid-column: 2/8;
      grid-row: 6/7;
    }
  }
  &-socials {
    grid-column: 2/10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @include respond(tab) {
      grid-column: 7/10;
      grid-row: 7/8;
      justify-content: flex-end;
    }
    @include respond(lap) {
      grid-column: 7/10;
      grid-row: 4/6;
    }
    &__icon {
    }
  }
}
