//  quick notes (375 / 8 = 46.875) might not need

// HOME PAGE

.main-layout {
  display: grid;
  grid-template-columns: 1fr repeat(8, minmax(min-content, 11%)) 1fr;
  @include respond(lrgDesk){
    grid-template-columns: 1fr repeat(8, minmax(min-content, 138.75px)) 1fr;
  }
}

.navbar{
  grid-column: 1/-1;
  grid-row: 1/2;
}

.header{
  grid-column: 1/-1;
  grid-row: 1/3;
}

.categories{
  grid-column: 2/10;
  grid-row: 3/4;
}

.products{
  grid-column: 2/10;
  grid-row: 4/5;
}

.about{
  grid-column: 2/10;
  grid-row: 5/6;
}

.footer{
  grid-column: 1/-1;
  grid-row: 6/7;
}


