.navbar {
  width: 100%;
  height: 15vh;
  background-color: $black; // could be temp
  display: grid;
  grid-template-columns: 1fr repeat(8, 11%) 1fr;
  z-index: 11;
  @include respond(lrgDesk) {
    grid-template-columns: 1fr repeat(8, 138.75px) 1fr;
  }
  &-content {
    position: relative;
    grid-column: 2/10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $white;
    height: 100%;
  }
  &-burger {
    @include respond(lap) {
      display: none;
    }
  }
  &-links {
    display: none;
    list-style-type: none;
    gap: 1.6rem;
    color: $white;
    // justify-content: flex-start;
    @include respond(lap) {
      @include flex-cen-cen-col;
      flex-direction: row;
    }
    &__link,
    &__link:link,
    &__link:visited {
      color: $white;
      text-decoration: none;
      &:hover {
        color: $colourPrimary;
      }
    }
  }
  &-logo {
  }
  &-cart {
    position: relative;
    &-amount {
      position: absolute;
      right: 0;
      top: -18px;
      background-color: $colourPrimary;
      border-radius: 50%;
      min-width: 22px;
      min-height: 22px;
      color: $white;
      display: grid;
      place-items: center;
      font-size: 12px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
