@import "./sass/abstracts/variables";
@import "./sass/abstracts/mixins";
@import "./sass/abstracts/utilities";
@import "./sass/base/base";
@import "./sass/base/typography";
@import "./sass/pages/home";
@import "./sass/pages/category";
@import "./sass/pages/product";
@import "./sass/pages/checkout";
@import "./sass/layout/main-layout";
@import "./sass/layout/category-product/cat-prod-layout";
@import "./sass/layout/navbar";
@import "./sass/layout/footer";
@import "./sass/components/btns";
@import "./sass/components/cart";
@import "./sass/components/header";
@import "./sass/components/category-list";
@import "./sass/components/products-showcase";
@import "./sass/components/about";
@import "./sass/components/category/category-header";
@import "./sass/components/category/category-product";

